body{
    background: #5a34a0;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #000000;
    border: none;
    background: #b1a8fc;
    max-width: 400px;
}
.todos li{
    color: #000000;
    background: #9d7afd;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}